<div class="home__container">
  <div class="top__bar">
    <img src="/assets/img/Recursos_logo-05.svg" alt="Logo">
    <button [routerLink]="['login']">Sign In</button>
  </div>
  <div class="home__image">
    <img src="/assets/img/Home.svg" alt="home image">
  </div>
  <div class="description">
    <h2>You don't have to run this adventure alone</h2>
    <p>Whether you want to star managing you career or ypu are looking for professionals whose career fits your needs, we will be happy to help you.</p>
  </div>
  <div class="access">
    <button [routerLink]="['register']">Create an Account</button>
    <a [routerLink]="['login']">I Already Have an Account</a>
  </div>
</div>
